:root {
    --primary-color: #800080;
    --secondary-color: rgba(247, 202, 247, 0.2);
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    font-family: 'EB Garamond', serif;
    background-color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
}

/*CSS for the header*/
header {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #800080;
}

header #logo img {
    height: 100px;
}

/* CSS for the (A) WRAPPER on the navbar*/
#ham-nav {
    width: 100%;
}

#ham-items a,
#socials ul li a,
.display-col a,
.display-col .fas {
    color: var(--primary-color);
}

#ham-items a:hover {   
    text-decoration:underline;
    font-weight: 900;
    cursor: pointer;
}

#ham-items {
    display: flex;
    justify-content: center;
}

#ham-items a {
    padding-right: 20px;
}

/* (C) HIDE HAMBURGER ON MAIN SCREEN*/
#ham-nav label, #hamburger {
    display: none;
}

#socials ul {
    display: flex;
    list-style: none;
    align-items: baseline;
}

#appointment {
    background-color: #ffffff;
    padding: 20px;
}

select, input {
    background: var(--secondary-color);
    background-image: none;
    width: 20%;
    height: 30px;
    color: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: 5px;     
}

.submit-btn {
    background: var(--primary-color);
    color: #ffffff;
    height: 50px;
    width: 15%;
    border: none;
}

.submit-btn:hover {
    border: 3px solid #000000;
}

/* .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: contain;
} */

/* .col-text .col-img {
    object-fit: contain;
    height: 40vh;
} */

.col-text {
    text-align: center;
}

.col-text h5, .fa, .btn {
    font-weight: bold;
    color: var(--primary-color);
}

#qualities .col-text:hover {
    transform: translateY(-25px);
    color: #ffffff;
    background-color: var(--primary-color);
}

.my-specialty  .specialty-img,
.services img{
    width:100%;
    height: 40vh;
    object-fit:cover;
}

.my-specialty {
    background-color: var(--primary-color);
    color: #ffffff;
    border: 5px solid var(--primary-color);
}

.specialty-title {
    color: var(--primary-color);
    font: large;
}

#btn-video {
    width: 100%;
}

#mwisho {
    background-color: rgb(82, 78, 78);
    color: #ffffff;
}

#footer-socials ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#footer-socials ul li a {
    color: #ffffff;
}

#footer-socials ul li a:hover {
    color: var(--primary-color);
}

#btn-footer {
    width: 50%;
}

.footer-copy {
    background: rgba(248, 238, 248, 0.2);
}

.footer-copy .fa-heart,
.footer-copy p a,
#centered p a,
#team h1,
#our-story p a,
#our-story h2,
#services h2 {
    color: var(--primary-color);
}

/*Style CSS for the About page*/
/*To overlay the text onto the image, target the container holding the image and text*/
#showcase-img {
    position: relative;
    text-align: center;
    color: #ffffff;
}

#showcase-img img {
    width: 100%;
    object-fit: cover;
    height: 120vh;
}

/* Centered text in image*/
#centered {
    color:var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.fa-phone {
    border: 2px solid red;
} 

#btn-showcase {
    width: 50%;
}

#team {
    background: #ffffff;
}

.purple {
    background-color: var(--primary-color);
    color: #ffffff;
}

/*Styles for the Services page*/
#reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    background-color: #ffffff;
}


.reviews-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 20px;
}

.reviews-heading span {
    font-size: 1.3em;
    color:var(--primary-color);
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.reviews-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

.review-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba (0,0,0,0.1);
    background-color: var(--primary-color);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.user-name {
    display: flex;
    flex-direction: column;
}

.user-name strong {
    color: #f5deb3;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.user-name span {
    color: #ffffff;
    font-size: 0.8rem;
}

.reviews {
    color: #ffff00;
    }

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment {
    font-size: 0.9rem;
    color: wheat;
}

.review-box:hover {
    transform:translateY(-10px);
    transition: all ease 0.3s;
}

/*Style the blog page*/
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

/*Media Queries*/

@media screen and (max-width:768px) {
    /*(A) BREAK INTO A VERTICAL MENU. This transforms the horizaontal menu into a vertical one */
    #ham-items a {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

     /* (B) SHOW HAMBURGER ICON. NB: the label shows, only the checkbox remains hidden*/
  #ham-nav label { 
    display: inline-block; 
    color: white;
    background: var(--primary-color);
    font-style: normal;
    font-size: 1.2em;
    padding: 5px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #ham-items { 
      display: none; 
    } /* This hides the menu items by default*/

  #ham-nav input:checked ~ #ham-items {
       display: block; 
    } /*When the checkbox is ticked, show the menu items*/

    #appointment p {
        font-weight: bolder;
        font-size:large;
    }
    
   select, input {
    width: 100%;
    }

    .submit-btn {
        width:100%;
        margin-top: 20px;
    }

    .col-text {
        display:flex;
        flex-direction:column;
        align-items: center;
        margin-bottom: 40px;
    }

    .video-text p{
        display: none;
    }

    #btn-video {
      margin-bottom: 30px;
    }

    #btn-footer {
        width: 100%;
        margin-bottom: 20px;
    }
   



   

    






}